openapi: 3.0.3
info:
  title: AgriWizard API
  description: |
    Smart Greenhouse Management Platform - Microservices API Gateway

    ## Authentication
    Most endpoints require a Bearer JWT token obtained from the IAM Service login endpoint.

    ## Services
    - **IAM** - Identity & Access Management (port 8081)
    - **Hardware** - Equipment & Sensor Management (port 8082)
    - **Analytics** - Thresholds, Rules & Decision Engine (port 8083)
    - **Weather** - Weather Data & Forecast (port 8084)
    - **Notification** - Notification & Template Management (port 8085)
  version: 1.0.0
  contact:
    name: AgriWizard Team
    email: support@agriwizard.com

servers:
  - url: https://agriwizard-apim-prod.azure-api.net
    description: Azure API Management Gateway
  - url: http://localhost:8080
    description: Local Traefik Gateway

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    ErrorResponse:
      type: object
      properties:
        error:
          type: string
        message:
          type: string

    SuccessResponse:
      type: object
      properties:
        message:
          type: string
        data:
          type: object

    # IAM Schemas
    RegisterRequest:
      type: object
      required: [email, password, full_name]
      properties:
        email:
          type: string
          format: email
          example: admin@agriwizard.com
        password:
          type: string
          minLength: 8
          example: SecurePass123!
        full_name:
          type: string
          example: John Doe
        phone:
          type: string
          example: "+94771234567"
        role:
          type: string
          enum: [Admin, Agromist]
          default: Agromist

    LoginRequest:
      type: object
      required: [email, password]
      properties:
        email:
          type: string
          format: email
          example: admin@agriwizard.com
        password:
          type: string
          example: SecurePass123!

    LoginResponse:
      type: object
      properties:
        token:
          type: string
        expires_at:
          type: string
          format: date-time
        user:
          $ref: '#/components/schemas/UserDTO'

    UserDTO:
      type: object
      properties:
        id:
          type: string
        email:
          type: string
        full_name:
          type: string
        role:
          type: string
          enum: [Admin, Agromist]

    IntrospectResponse:
      type: object
      properties:
        valid:
          type: boolean
        user_id:
          type: string
        email:
          type: string
        role:
          type: string
        expires_at:
          type: integer
          format: int64

    UpdateProfileRequest:
      type: object
      properties:
        full_name:
          type: string
          example: John Updated
        phone:
          type: string
          example: "+94771234568"

    # Hardware Schemas
    CreateEquipmentRequest:
      type: object
      required: [name, supported_operations]
      properties:
        name:
          type: string
          example: Water Pump
        supported_operations:
          type: array
          items:
            type: string
          example: ["ON", "OFF"]
        api_url:
          type: string
          example: http://pump.local/control

    Equipment:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        supported_operations:
          type: array
          items:
            type: string
        mqtt_topic:
          type: string
        api_url:
          type: string
        current_status:
          type: string
          enum: [ON, OFF, LOCKED, DISABLED]
        created_at:
          type: string
          format: date-time

    CreateSensorRequest:
      type: object
      required: [name, mqtt_topic]
      properties:
        name:
          type: string
          example: Soil Moisture Sensor
        mqtt_topic:
          type: string
          example: agriwizard/sensor/soil-moisture/data

    Sensor:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        mqtt_topic:
          type: string
        created_at:
          type: string
          format: date-time

    CreateParameterRequest:
      type: object
      required: [sensor_id, name, unit, min_value, max_value]
      properties:
        sensor_id:
          type: string
        name:
          type: string
          example: Soil Moisture
        unit:
          type: string
          example: "%"
        min_value:
          type: number
          example: 0
        max_value:
          type: number
          example: 100

    Parameter:
      type: object
      properties:
        id:
          type: string
        sensor_id:
          type: string
        name:
          type: string
        unit:
          type: string
        min_value:
          type: number
        max_value:
          type: number
        created_at:
          type: string
          format: date-time

    ControlCommand:
      type: object
      required: [operation]
      properties:
        operation:
          type: string
          enum: [ON, OFF, LOCK, UNLOCK]
          example: ON
        payload:
          type: object

    TelemetryPayload:
      type: object
      required: [sensor_id, readings]
      properties:
        sensor_id:
          type: string
        readings:
          type: array
          items:
            $ref: '#/components/schemas/ParameterReading'
        timestamp:
          type: string
          format: date-time

    ParameterReading:
      type: object
      properties:
        parameter_id:
          type: string
        value:
          type: number
          example: 45.5

    # Analytics Schemas
    ThresholdRequest:
      type: object
      required: [parameter_id, min_value, max_value]
      properties:
        parameter_id:
          type: string
        min_value:
          type: number
          example: 20
        max_value:
          type: number
          example: 80
        is_enabled:
          type: boolean
          default: true

    Threshold:
      type: object
      properties:
        id:
          type: string
        parameter_id:
          type: string
        min_value:
          type: number
        max_value:
          type: number
        is_enabled:
          type: boolean
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    RuleRequest:
      type: object
      required: [threshold_id, equipment_id, low_action, high_action]
      properties:
        threshold_id:
          type: string
        equipment_id:
          type: string
        low_action:
          type: string
          example: ON
        high_action:
          type: string
          example: OFF

    Rule:
      type: object
      properties:
        id:
          type: string
        threshold_id:
          type: string
        equipment_id:
          type: string
        low_action:
          type: string
        high_action:
          type: string
        is_enabled:
          type: boolean
        created_at:
          type: string
          format: date-time

    IngestPayload:
      type: object
      required: [sensor_id, timestamp, readings]
      properties:
        sensor_id:
          type: string
        timestamp:
          type: string
          format: date-time
        readings:
          type: array
          items:
            $ref: '#/components/schemas/ParameterReading'
        metadata:
          type: object

    # Weather Schemas
    CurrentWeather:
      type: object
      properties:
        temperature:
          type: number
          example: 28.5
        humidity:
          type: number
          example: 75
        wind_speed:
          type: number
          example: 12.5
        description:
          type: string
          example: Partly cloudy
        icon:
          type: string
        timestamp:
          type: string
          format: date-time

    Forecast:
      type: object
      properties:
        date:
          type: string
          format: date
        temperature_min:
          type: number
        temperature_max:
          type: number
        humidity:
          type: number
        precipitation:
          type: number
        description:
          type: string

    Alert:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum: [warning, danger, info]
        message:
          type: string
        expires_at:
          type: string
          format: date-time

    Recommendation:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
          enum: [irrigation, ventilation, shading, heating]
        priority:
          type: string
          enum: [low, medium, high, critical]
        message:
          type: string
        confidence:
          type: number

    # Notification Schemas
    SendNotificationRequest:
      type: object
      required: [channel, recipient, template_id, variables]
      properties:
        channel:
          type: string
          enum: [email, sms]
          example: email
        recipient:
          type: string
          example: user@example.com
        template_id:
          type: string
        variables:
          type: object
          example: {"name": "John", "alert": "Low soil moisture detected"}

    Notification:
      type: object
      properties:
        id:
          type: string
        channel:
          type: string
        recipient:
          type: string
        subject:
          type: string
        status:
          type: string
          enum: [pending, sent, failed]
        sent_at:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time

    CreateTemplateRequest:
      type: object
      required: [name, channel, subject, body]
      properties:
        name:
          type: string
          example: Low Moisture Alert
        channel:
          type: string
          enum: [email, sms]
        subject:
          type: string
          example: Soil Moisture Alert
        body:
          type: string
          example: |
            Hello {{name}},
            Your greenhouse soil moisture is at {{value}}%.
            Consider activating irrigation.

    Template:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        channel:
          type: string
        subject:
          type: string
        body:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

  parameters:
    AuthHeader:
      name: Authorization
      in: header
      required: true
      schema:
        type: string
        example: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...

    ParameterId:
      name: parameterId
      in: path
      required: true
      schema:
        type: string

    Id:
      name: id
      in: path
      required: true
      schema:
        type: string

tags:
  - name: IAM
    description: Identity & Access Management
  - name: Hardware
    description: Equipment & Sensor Management
  - name: Analytics
    description: Thresholds, Rules & Decisions
  - name: Weather
    description: Weather Data & Forecast
  - name: Notifications
    description: Notification & Template Management

paths:
  # ============================================
  # IAM SERVICE
  # ============================================
  /api/v1/iam/register:
    post:
      tags: [IAM]
      summary: Register a new user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        '201':
          description: User created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Email already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/v1/iam/login:
    post:
      tags: [IAM]
      summary: Authenticate user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoginResponse'
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/v1/iam/introspect:
    get:
      tags: [IAM]
      summary: Validate JWT token
      parameters:
        - $ref: '#/components/parameters/AuthHeader'
      responses:
        '200':
          description: Token validation result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntrospectResponse'

  /api/v1/iam/profile:
    get:
      tags: [IAM]
      summary: Get current user profile
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AuthHeader'
      responses:
        '200':
          description: User profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserDTO'
    put:
      tags: [IAM]
      summary: Update user profile
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AuthHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProfileRequest'
      responses:
        '200':
          description: Profile updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  # ============================================
  # HARDWARE SERVICE
  # ============================================
  /api/v1/hardware/equipments:
    get:
      tags: [Hardware]
      summary: List all equipment
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AuthHeader'
      responses:
        '200':
          description: List of equipment
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Equipment'
    post:
      tags: [Hardware]
      summary: Register new equipment
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AuthHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEquipmentRequest'
      responses:
        '201':
          description: Equipment created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /api/v1/hardware/control/{id}:
    post:
      tags: [Hardware]
      summary: Send control command to equipment
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AuthHeader'
        - $ref: '#/components/parameters/Id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ControlCommand'
      responses:
        '200':
          description: Command dispatched
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /api/v1/hardware/sensors:
    get:
      tags: [Hardware]
      summary: List all sensors
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AuthHeader'
      responses:
        '200':
          description: List of sensors
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Sensor'
    post:
      tags: [Hardware]
      summary: Register new sensor
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AuthHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSensorRequest'
      responses:
        '201':
          description: Sensor created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /api/v1/hardware/parameters:
    get:
      tags: [Hardware]
      summary: List all parameters
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AuthHeader'
      responses:
        '200':
          description: List of parameters
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Parameter'
    post:
      tags: [Hardware]
      summary: Create new parameter
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AuthHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateParameterRequest'
      responses:
        '201':
          description: Parameter created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /api/v1/hardware/telemetry:
    post:
      tags: [Hardware]
      summary: Ingest telemetry data (REST fallback)
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AuthHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TelemetryPayload'
      responses:
        '200':
          description: Telemetry ingested
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  # ============================================
  # ANALYTICS SERVICE
  # ============================================
  /api/v1/analytics/thresholds:
    post:
      tags: [Analytics]
      summary: Create or update threshold
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AuthHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ThresholdRequest'
      responses:
        '200':
          description: Threshold saved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Threshold'

  /api/v1/analytics/thresholds/{parameterId}:
    get:
      tags: [Analytics]
      summary: Get threshold for parameter
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AuthHeader'
        - $ref: '#/components/parameters/ParameterId'
      responses:
        '200':
          description: Threshold details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Threshold'
        '404':
          description: Threshold not found

  /api/v1/analytics/rules:
    post:
      tags: [Analytics]
      summary: Create automation rule
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AuthHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RuleRequest'
      responses:
        '201':
          description: Rule created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rule'

  /api/v1/analytics/rules/{parameterId}:
    get:
      tags: [Analytics]
      summary: Get rules for parameter
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AuthHeader'
        - $ref: '#/components/parameters/ParameterId'
      responses:
        '200':
          description: List of rules
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Rule'

  /api/v1/analytics/decisions/summary:
    get:
      tags: [Analytics]
      summary: Get decision summary
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AuthHeader'
      responses:
        '200':
          description: Decision summary
          content:
            application/json:
              schema:
                type: object

  /api/v1/analytics/ingest:
    post:
      tags: [Analytics]
      summary: Ingest telemetry for analysis
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AuthHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IngestPayload'
      responses:
        '200':
          description: Data ingested
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /api/v1/analytics/summaries:
    get:
      tags: [Analytics]
      summary: Get daily summaries
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AuthHeader'
      responses:
        '200':
          description: Daily summaries
          content:
            application/json:
              schema:
                type: object

  # ============================================
  # WEATHER SERVICE
  # ============================================
  /api/v1/weather/current:
    get:
      tags: [Weather]
      summary: Get current weather
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AuthHeader'
      responses:
        '200':
          description: Current weather data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrentWeather'

  /api/v1/weather/forecast:
    get:
      tags: [Weather]
      summary: Get weather forecast
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AuthHeader'
      responses:
        '200':
          description: Weather forecast
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Forecast'

  /api/v1/weather/alerts:
    get:
      tags: [Weather]
      summary: Get active alerts
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AuthHeader'
      responses:
        '200':
          description: Active alerts
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Alert'

  /api/v1/weather/recommendations:
    get:
      tags: [Weather]
      summary: Get farming recommendations
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/AuthHeader'
      responses:
        '200':
          description: Recommendations
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Recommendation'

  # ============================================
  # NOTIFICATION SERVICE
  # ============================================
  /api/v1/notifications:
    get:
      tags: [Notifications]
      summary: List notifications
      security:
        - BearerAuth: []
      responses:
        '200':
          description: List of notifications
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Notification'

  /api/v1/notifications/send:
    post:
      tags: [Notifications]
      summary: Send notification
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendNotificationRequest'
      responses:
        '200':
          description: Notification queued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  /api/v1/notifications/{id}:
    get:
      tags: [Notifications]
      summary: Get notification details
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        '200':
          description: Notification details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Notification'
        '404':
          description: Notification not found

  /api/v1/templates:
    get:
      tags: [Notifications]
      summary: List templates
      security:
        - BearerAuth: []
      responses:
        '200':
          description: List of templates
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Template'
    post:
      tags: [Notifications]
      summary: Create template
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTemplateRequest'
      responses:
        '201':
          description: Template created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Template'

  /api/v1/templates/{id}:
    get:
      tags: [Notifications]
      summary: Get template
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        '200':
          description: Template details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Template'
    put:
      tags: [Notifications]
      summary: Update template
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/Id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTemplateRequest'
      responses:
        '200':
          description: Template updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Template'
    delete:
      tags: [Notifications]
      summary: Delete template
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        '200':
          description: Template deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'

  # ============================================
  # HEALTH CHECKS
  # ============================================
  /health:
    get:
      tags: [Health]
      summary: Gateway health check
      responses:
        '200':
          description: Healthy
