{
  "openapi": "3.0.3",
  "info": {
    "title": "AgriWizard API",
    "description": "Smart Greenhouse Management Platform - Microservices API Gateway",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://agriwizard-apim-prod.azure-api.net",
      "description":Azure API Management Gateway"
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "paths": {
    "/api/v1/iam/register": {
      "post": {
        "operationId": "iam-register",
        "summary": "Register a new user",
        "tags": ["IAM"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["email", "password", "full_name"],
                "properties": {
                  "email": { "type": "string", "format": "email" },
                  "password": { "type": "string", "minLength": 8 },
                  "full_name": { "type": "string" },
                  "phone": { "type": "string" },
                  "role": { "type": "string", "enum": ["Admin", "Agromist"] }
                }
              }
            }
          }
        },
        "responses": {
          "201": { "description": "User created" },
          "400": { "description": "Validation error" }
        }
      }
    },
    "/api/v1/iam/login": {
      "post": {
        "operationId": "iam-login",
        "summary": "Authenticate user",
        "tags": ["IAM"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["email", "password"],
                "properties": {
                  "email": { "type": "string", "format": "email" },
                  "password": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Login successful" },
          "401": { "description": "Invalid credentials" }
        }
      }
    },
    "/api/v1/weather/current": {
      "get": {
        "operationId": "weather-current",
        "summary": "Get current weather",
        "tags": ["Weather"],
        "security": [{ "BearerAuth": [] }],
        "responses": {
          "200": { "description": "Current weather data" }
        }
      }
    },
    "/api/v1/hardware/equipments": {
      "get": {
        "operationId": "hardware-list-equipments",
        "summary": "List all equipment",
        "tags": ["Hardware"],
        "security": [{ "BearerAuth": [] }],
        "responses": {
          "200": { "description": "List of equipment" }
        }
      },
      "post": {
        "operationId": "hardware-create-equipment",
        "summary": "Register new equipment",
        "tags": ["Hardware"],
        "security": [{ "BearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["name", "supported_operations"],
                "properties": {
                  "name": { "type": "string" },
                  "supported_operations": { "type": "array", "items": { "type": "string" } },
                  "api_url": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "201": { "description": "Equipment created" }
        }
      }
    },
    "/api/v1/hardware/sensors": {
      "get": {
        "operationId": "hardware-list-sensors",
        "summary": "List all sensors",
        "tags": ["Hardware"],
        "security": [{ "BearerAuth": [] }],
        "responses": {
          "200": { "description": "List of sensors" }
        }
      }
    },
    "/api/v1/hardware/telemetry": {
      "post": {
        "operationId": "hardware-ingest-telemetry",
        "summary": "Ingest telemetry data",
        "tags": ["Hardware"],
        "security": [{ "BearerAuth": [] }],
        "responses": {
          "200": { "description": "Telemetry ingested" }
        }
      }
    },
    "/api/v1/analytics/ingest": {
      "post": {
        "operationId": "analytics-ingest",
        "summary": "Ingest telemetry for analysis",
        "tags": ["Analytics"],
        "security": [{ "BearerAuth": [] }],
        "responses": {
          "200": { "description": "Data ingested" }
        }
      }
    },
    "/api/v1/notifications": {
      "get": {
        "operationId": "notifications-list",
        "summary": "List notifications",
        "tags": ["Notifications"],
        "security": [{ "BearerAuth": [] }],
        "responses": {
          "200": { "description": "List of notifications" }
        }
      }
    }
  }
}
